.index{
	background-color: #f4f4f4;
	margin: 0px ; 
	//因为有边距
}
.top{
	background-color: #e3e4e5;
	height: 30px;
	line-height: 30px; //实现居中
}
.inner-index{
	height: 30px;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.inner-index li,.search_t li{
	display: inline-block;
}
.inner-index a{
	color: #999;
	text-decoration: none;
}
.inner-index a:hover{
	color: #e33333;
}
.inner-index a[class="style-red"]{
	color: red;
}

.spacer{
	width: 1px;
	height: 15px;
	background-color: #999;
	margin: 0 8px;
}
.cls{
	clear: both;
}
.header{
	height: 140px;
	background-color: #ffffff;
}

.headerbody{
	height: 140px;
	display: flex;
}
.hb1{
	flex: 1;
	text-align: center;
}
.hb2{
	flex: 4;
	position: relative;
}
.hb2 button{
	width: 80px;
	height: 33px;
	background-color: #e33333;
	border: 0px;
	margin-left:-5px;
		vertical-align: middle;
}
.hb3{
	flex: 1;
}

.hb1 img{
	box-sizing: content-box;
	width: 120px;
	height: 120px;
	padding-top: 5%;
}

.search_m{
	box-sizing: content-box;
	width: 425px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	padding: 2px 17px;
	border: 2px solid red;
	vertical-align: middle;
}

.search-icon{
	color: white;
	font-size: 17px;

}

.searchbody{
	margin-top: 25px;
	margin-left: 25px;
}

.search_t a{
	color: #999;
	font-size: 14px;
	text-decoration: none;
}
.search_t a:hover{
	color: red;
	text-decoration: underline;
}
.search_t li{
	padding: 0 5px;
}

.shortcart{
	position: absolute;
	top: 26px;
	right: 30px;
	border: 1px solid #e3e4e5;
	padding: 3px 10px;
}
.shortcart i{
	color: #e33333;
}
.shortcart a{
	color: #e33333;
	text-decoration: none;
	margin-left: 10px;
}
.shortcart a:hover{
	text-decoration: underline;
}
#cartnumber{
	position: absolute;
	top: 0px;
	left: 25px;
	font-size: 12px;
	line-height: 12px;
	background-color: #e33333;
	color: white;
	padding: 0px 5px;
	border-radius: 7px;
}

.mid-swiper{
	height: 470px;
	display: flex;
}
#cg_p{
	position: relative;
	background-color: white;
	flex: 1;
}
#sw_p{
	flex: 5;
	margin-left: 5px;
	overflow: hidden;
}

.category{
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.category a{
	color: black;
	text-decoration: none;
}
.category a:hover{
	color: red;
}

.cg_div{
	width: 800px;
	height: 470px;
	top: 0%;
	left: 100%;
	position: absolute;
	z-index: 999;
	background-color: aquamarine;
	display: none;
}

.category_detail{
	text-align: left;
}

.category_detail ul{
	height: 40px;
}

.cd_li{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	width: 100px;
	text-align: center;
	overflow: hidden;
}




.cc{
	margin-top: 35px;
}

.cc-title{
	text-align: center;
	font-size: 28px;
	font-weight: 700;
	position: relative;
}
.cc-title::after ,.cc-title::before{
	content: "";
	background-image: url(../imgs/sprite.png);
	position: absolute;
	width: 25px;
	height: 20px;
	top: 30%;
}
.cc-title::before{
	left: 39%;
}
.cc-title::after{
	left: 58%;
}

.gli{
	float: left;
	width: 210px;
	height: 340px;
	background-color: white;
	margin-left: 10px;
	margin-top: 10px;
}
.glifirst{
	float: left;
	width: 210px;
	height: 340px;
	background-color: white;
	margin-top: 10px;
}
.glid2{
	width: 210px;
	height: 210px;
	text-align: center;
	margin-top: 15px;

}
.glid2 img{
	width: 180px;
	height: 180px;
}
.gtitle{
	font-size: 16px;
	margin: 0px 0px 0px 8px;
	line-height: 24px;
	white-space: nowrap; //不换行
	overflow: hidden;
	text-overflow: ellipsis;
}
.gdetail{
	font-size: 14px;
	height: 48px;
	line-height: 24px;
	margin: 5px 0px 0px 8px;
	
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow:hidden;
}
.gmoney{
	color: red;
	font-weight: bold;
	font-size: 20px;
	margin: 5px 0px 0px 8px;
}
.gmoney i{
	font-size: 12px;
	font-style: normal;
}
.ga{
	color: black;
	text-decoration: none;
}
.ga:hover{
	color: red;
}